# Deny everything, then allow only the files that belong in the addon release.
*

!.gitignore
!.github
!.github/**
.github/scripts/__pycache__/
!README.md
!Skada
!Skada/**
!SkadaLocale
!SkadaLocale/**
!SkadaImprovement
!SkadaImprovement/**
!SkadaStorage
!SkadaStorage/**